.map{
    height:450px;
    margin: 10px;
    background-color: white;
    padding: 1rem;
    border-radius:20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px(0, 0, 0, 0.5);
}

.map .leaflet-container{
    height:100%;
    border-radius:20px;

    

}
.info-flag{
    height:80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
    
}

.info-flag img{
    width: 100px;
    border-radius: 5px;

}

.info-cases{
    color:rgb(25, 96, 138);
    font-weight: 600;
    
}
.info-deaths{
    color:rgb(233, 88, 88);
    font-weight: 600;

}
.info-recovered{
    color:rgb(137, 214, 118);
    font-weight: 600;

}
.info-country{
    font-size: larger;
    padding-top:5px;
    padding-bottom:5px;
}